@import './variables.scss';

body {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}


h1.title {
  font-size: 48px;
  line-height: 48px;
  margin: 48px 0;
  a {
    color: $ik-blue;
    text-decoration: none;
  }
}